<div class="col-sm-3 col-md-4">        
</div><!--left cont.-->
<div class="col-sm-12">        
  <h3>Ads</h3>        
  <table class="table table-bordered border-primary">
      <thead>
          <tr>
              <th>Reden broj</th>
              <th>ads_customer_name</th>
              <th>ads_starttime</th>
              <th>ads_endtime</th>
              <th>ads_price</th>
              <th>EDIT</th>
              <th>DELETE</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="novaads in ads">
              <td>{{$index+1}}</td>
              <td>{{novaads.ads_customer_name}}</td>
              <td>{{novaads.ads_starttime}}</td>
              <td>{{novaads.ads_endtime}}</td>
              <td>{{novaads.ads_price}}</td>
              <td><a href="#!details_ads/{{$index}}">
                <button type="button" 
                class="btn btn-successr" 
                data-ng-click="getId($index)">
                <i class="btn btn-success fa fa-pencil"></i>
                </button>
            </a></td> 
              <td><button type="button" 
                class="btn btn-danger" 
                data-ng-click="getId($index)" 
                data-bs-toggle="modal"
                data-bs-target="#adsModal">
                <i class="btn btn-danger fa fa-trash"></i>
                </button>
              </td> 
          </tr>         
      </tbody>
  </table>

<!--modal strart-->

<div class="modal fade" id="adsModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-dark" id="exampleModalLabel"><i><b>Delete!</b></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>{{getPosition}}:- Dali ste sigurni deka sakate da ja izbrisite reklamata na: {{ads[getPosition].ads_customer_name}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" 
                    data-ng-click="deleteRow('ads',ads[getPosition].ads_id)"
                    data-bs-dismiss="modal">Potvrdi</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Otkazi</button>
            </div>
        </div>
    </div>
</div> 

<!--modal end-->

</div>
