<div class="col-sm-3 col-md-4">        
</div><!--left cont.-->
<div class="col-sm-12">        
  <h3>Customers</h3>        
  <table class="table table-bordered border-primary">
      <thead>
          <tr>
              <th>Reden broj</th>
              <th>customer_name</th>
              <th>tel</th>
              <th>email</th>
              <th>address</th>
              <th>DELETE</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="novacustomers in customers">
              <td>{{$index+1}}</td>
              <td>{{novacustomers.customer_name}}</td>
              <td>{{novacustomers.tel}}</td>
              <td>{{novacustomers.email}}</td>
              <td>{{novacustomers.address}}</td>
              <td><button type="button" 
                class="btn btn-danger" 
                data-ng-click="getId($index)" 
                data-bs-toggle="modal"
                data-bs-target="#customersModal">
                <i class="btn btn-danger fa fa-trash"></i>
                </button>
              </td> 
          </tr>         
      </tbody>
  </table>

<!--modal strart-->

<div class="modal fade" id="customersModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-dark" id="exampleModalLabel"><i><b>Delete!</b></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>{{getPosition}}:- Dali ste sigurni deka sakate da ja izbrisite reklamata na: {{customers[getPosition].customer_name}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" 
                    data-ng-click="deleteRow('customers',customers[getPosition].customer_id)"
                    data-bs-dismiss="modal">Potvrdi</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Otkazi</button>
            </div>
        </div>
    </div>
</div> 

<!--modal end-->

</div>
