<div class="alert alert-danger" data-ng-show="alertDanger">Neuspesno</div>
<div class="alert alert-success" data-ng-show="alertSuccess">Uspesno</div>
{{url_param}} {{ads[url_param].ads_customer_name}}

<form name="myForm">

  <span class="alert alert-danger" data-ng-show="myForm.ads_customer_name.$invalid">
    Vnesete min 3 bukvi
  </span>

  <div class="mb-3 mt-3">
    <label for="ads_customer_name" class="form-label">Ads customer`s name:</label>
    <input type="text" 
           class="form-control" 
           id="ads_customer_name" 
           placeholder="Enter customer`s name" 
           name="ads_customer_name" 
           data-ng-model="ads[url_param].ads_customer_name" 
           data-ng-minlength="3">
  </div>

  <span class="alert alert-danger" data-ng-show="myForm.ads_starttime.$invalid">
    Vnesete broj
  </span>

  <div class="mb-3 mt-3">
    <label for="ads_starttime" class="form-label">Ads starttime:</label>
    <input type="datetime-local" 
           class="form-control" 
           id="ads_starttime" 
           placeholder="Enter ads starttime" 
           name="ads_starttime" 
           data-ng-model="ads[url_param].ads_starttime" 
           data-ng-minlength="1">
  </div>

  <span class="alert alert-danger" data-ng-show="myForm.ads_endtime.$invalid">
    Vnesete min broj
  </span>

  <div class="mb-3 mt-3">
    <label for="ads_endtime" class="form-label">Ads endtime:</label>
    <input type="datetime-local" 
           class="form-control" 
           id="ads_endtime" 
           placeholder="Enter ads endtime" 
           name="ads_endtime" 
           data-ng-model="ads[url_param].ads_endtime" 
           data-ng-minlength="1">
  </div>

  <span class="alert alert-danger" data-ng-show="myForm.ads_price.$invalid">
    Vnesete min 1 broj
  </span>

  <div class="mb-3 mt-3">
    <label for="ads_price" class="form-label">Ads price:</label>
    <input type="number" 
           class="form-control" 
           id="ads_price" 
           placeholder="Ads price" 
           name="ads_price" 
           data-ng-model="ads[url_param].ads_price" 
           data-ng-minlength="4">
  </div>

  <div class="mb-3 mt-3">
    <label for="customer_id" class="form-label">Customer:</label>
    <select name="customer_id" id="customer_id" data-ng-model="ads[url_param].customer_id" class="form-control">
      <option data-ng-repeat="novacustomers in customers" value="{{novacustomers.customer_id}}">{{novacustomers.customer_name}}</option>
    </select>
  </div>
  
  <button class="btn btn-primary" 
  data-ng-click="
    (myForm.ads_customer_name.$valid) &&
    (myForm.ads_starttime.$valid) &&
    (myForm.ads_endtime.$valid) &&
    (myForm.ads_price.$valid) &&
    (myForm.customer_id.$valid)
    ? details_ads(
      ads[url_param].ads_customer_name, 
      ads[url_param].ads_starttime, 
      ads[url_param].ads_endtime, 
      ads[url_param].ads_price, 
      ads[url_param].customer_id,
      url_param) : error()">
      <span data-ng-show="url_param == undefined">Save</span>
      <span data-ng-show="url_param != undefined">Update</span>
  </button>   
</form>