<div class="alert alert-danger" data-ng-show="alertDanger">Neuspesno</div>
<div class="alert alert-success" data-ng-show="alertSuccess">Uspesno</div>

<form name="myForm">

  <span class="alert alert-danger" data-ng-show="myForm.media_title.$invalid">
    Vnesete min 3 bukvi
  </span>

  <div class="mb-3 mt-3">
    <label for="media_title" class="form-label">Media title:</label>
    <input type="text" 
           class="form-control" 
           id="media_title" 
           placeholder="Enter media title" 
           name="media_title" 
           data-ng-model="media[url_param].media_title" 
           data-ng-minlength="3">
  </div>

  <span class="alert alert-danger" data-ng-show="myForm.media_type.$invalid">
    Vnesete min 3 bukvi
  </span>

  <div class="mb-3 mt-3">
    <label for="media_type" class="form-label">Media type:</label>
    <input type="text" 
           class="form-control" 
           id="media_type" 
           placeholder="Enter media type" 
           name="media_type" 
           data-ng-model="media[url_param].media_type" 
           data-ng-minlength="3">
  </div>

  <span class="alert alert-danger" data-ng-show="myForm.media_datetime.$invalid">
    Vnesete min 3 bukvi
  </span>

  <div class="mb-3 mt-3">
    <label for="media_datetime" class="form-label">Media datetime:</label>
    <input type="datetime-local" 
           class="form-control" 
           id="media_datetime" 
           placeholder="Enter news datetime" 
           name="media_datetime" 
           data-ng-model="media[url_param].media_datetime" 
           data-ng-minlength="3">
  </div>



  <span class="alert alert-danger" data-ng-show="myForm.media_image_path.$invalid">
    Vnesete min 3 bukvi
  </span>

  <div class="mb-3 mt-3">
    <label for="media_image_path" class="form-label">Media image path:</label>
    <input type="text" 
           class="form-control" 
           id="media_image_path" 
           placeholder="Enter media image path" 
           name="media_image_path" 
           data-ng-model="media[url_param].media_image_path" 
           data-ng-minlength="3">
  </div>



  <div class="mb-3 mt-3">
    <label for="category_id" class="form-label">Category:</label>
    <select name="category_id" id="category_id" data-ng-model="media[url_param].category_id" class="form-control">
      <option ng-repeat="novacategories in categories" value="{{novacategories.category_id}}">{{novacategories.category_name}}</option>
    </select>
  </div>
  
  
  <button class="btn btn-primary" 
  data-ng-click="
    ((myForm.media_title.$valid) &&
    (myForm.media_type.$valid) &&
    (myForm.media_datetime.$valid) &&
    (myForm.media_image_path.$valid) &&
    (myForm.category_id.$valid))
    ? details_media(
    media[url_param].media_title, 
    media[url_param].media_type, 
    media[url_param].media_datetime, 
    media[url_param].media_image_path, 
    media[url_param].category_id,
    url_param) : error()">
    <span data-ng-show="url_param == undefined">Save</span>
    <span data-ng-show="url_param != undefined">Update</span>
  </button>   
</form>