<div class="alert alert-danger"  data-ng-show="alertDanger">Neuspesno</div>
<div class="alert alert-success" data-ng-show="alertSuccess">Uspesno</div>
{{url_param}} {{categories[url_param].category_name}}

<form name="myForm">
  <span class="alert alert-danger" data-ng-show="myForm.category_name.$invalid">
    Enter category name
  </span>

  <div class="mb-3 mt-3">
    <label for="category_name" class="form-label">Category name:</label>
    <input type="text" 
           class="form-control" 
           id="category_name" 
           placeholder="Enter category" 
           name="category_name" 
           data-ng-model="categories[url_param].category_name" 
           data-ng-minlength="3">
  </div>
  
  <button class="btn btn-primary" 
    data-ng-click="
    (myForm.category_name.$valid)
    ? details_categories(
      categories[url_param].category_name, 
      url_param) : error()">
    <span data-ng-show="url_param == undefined">Save</span>
    <span data-ng-show="url_param != undefined">Update</span>
  </button>
</form>