<div class="col-sm-3 col-md-4"></div>
<!--left cont.-->
<div class="col-sm-12">         
  <h2>Вести</h2>
  <table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>Reden broj</th>
            <th>news_title</th>
            <th>news_content</th>
            <th>news_datetime</th>
            <th>news_image_path</th>  
            <th>EDIT</th>            
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="novanews in news">
            <td>{{$index+1}}</td>
            <td>{{novanews.news_title}}</td>
            <td>{{novanews.news_content}}</td>
            <td>{{novanews.news_datetime}}</td>
            <td><img ng-src="../uploads/{{novanews.news_image_path}}" alt=""></td>
            <td><a href="#!details_news/{{$index}}">
                <button type="button" 
                    class="btn btn-success" 
                    data-ng-click="getId($index)">
                    <i class="btn btn-success fa fa-pencil"></i>
                </button>
                </a></td>
            </td> 
            <td><button type="button" 
                    class="btn btn-danger" 
                    data-ng-click="getId($index)" 
                    data-bs-toggle="modal"
                    data-bs-target="#newsModal">
              <i class="btn btn-danger fa fa-trash"></i>
              </button>
            </td> 
        </tr>
    </tbody>
  </table>    
  
  <!--modal strart-->

<div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-danger">
              <h5 class="modal-title text-dark" id="exampleModalLabel"><i><b>Delete!</b></i></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h3>{{getPosition}}:- Дали сте сигурни дека сакате да го избришите насловот: {{news[getPosition].news_title}}</h3>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" 
                  data-ng-click="deleteRow('news',news[getPosition].news_id)"
                  data-bs-dismiss="modal">Потврди</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Откажи</button>
          </div>
      </div>
  </div>
</div> 

<!--modal end-->

</div>

  
