<div class="col-sm-3 col-md-4"></div>
<!--left cont.-->
<div class="col-sm-9">         
  <h3>News</h3>
  <table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>Reden broj</th>
            <th>news_title</th>
            <th>news_content</th>
            <th>news_datetime</th>
            <th>news_image_path</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="novanews in news">
            <td>{{$index+1}}</td>
            <td>{{novanews.news_title}}</td>
            <td>{{novanews.news_content}}</td>
            <td>{{novanews.news_datetime}}</td>
            <td><img ng-src="./uploads/{{novanews.news_image_path}}" alt=""></td>       

        </tr>
    </tbody>
  </table>      
</div>

  
