@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* -----index page----- */
body {
  margin: 0;
  background-color: #e6e6e6;
}
.divider {
  height: 3px;
  background-color: #1a1919;
  /* margin-top: 55px;
  margin-bottom: 78px; */
}
.headings {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin-top: 24px;
}
@media (max-width: 991px) {
  .headings {
    font-size: 21px;
    text-align: start;
    margin-top: 0px;
    margin-left: 12px;
  }
}

/* navbar-top start */
.navbar-top {
  background-color: #217b3a;
  height: 107px;
  color: #ffffff;
  width: 100%;
}
.vestilogo a {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  text-shadow: 1px 1px 2px black, 0 0 0.5em rgba(255, 255, 255, 0.5),
    0 0 0.1em rgba(255, 255, 255, 0.5);
}
.navbar .vestilogo:hover {
  transform: scale(1.14);
  transition: all 0.12s ease-in-out;
}
.navbar-hamburger i {
  color: #ffffff;
  font-size: 27px;
}
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #217b3a;
    text-align: start;
    max-width: none;
    margin-top: 9px;
    margin-right: 156px;
    border-radius: 6px;
    opacity: 0.87;
  }
}
.custom-icon {
  background-color: #217b3a;
  border: none;
  font-size: 27px;
}
/* navbar-top end */

/* navbar bottom start */
.navbar-bottom {
  background-color: #205731;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}
.navbar-bottom ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}
.navbar-bottom ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #b7b6b6;
  padding: 0 auto;
  line-height: 12px;
}
@media (max-width: 992px) {
  .navbar-bottom ul li {
    justify-content: flex-start;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .navbar-bottom ul li {
    padding: 0 12px;
  }
}
@media (min-width: 1140px) {
  .navbar-bottom ul li {
    padding: 0 18px;
  }
}
@media (min-width: 1350px) {
  .navbar-bottom ul li {
    padding: 0 24px;
  }
}
.navbar-bottom ul li:last-child {
  border-right: none;
}
.navbar-bottom ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}
.navbar-bottom ul li a.active-link {
  color: rgb(255, 202, 102) !important;
}
.navbar-bottom ul li a:hover {
  transform: scale(1.08);
  transition: all 0.1s ease-in-out;
}
.navbar-toggler {
  color: #ccc9c9;
}
/* navbar-bottom end */

/* -----news carousel start----- */
#newsCarousel .carousel-item img {
  height: 72vh;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
@media (max-width: 719px) {
  #newsCarousel .carousel-item img {
    height: 38vh;
  }
}
@media (max-width: 423px) {
  #newsCarousel .carousel-item img {
    height: 27vh;
  }
}
#newsCarousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
#newsCarousel .carousel-caption h5 {
  color: white;
  font-size: 27px;
  margin: 0;
}
@media (max-width: 423px) {
  #newsCarousel .carousel-caption h5 {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (min-width: 424px) and (max-width: 719px) {
  #newsCarousel .carousel-caption h5 {
    font-size: 22px;
  }
}
.newsCarousel-p {
  font-size: 18px;
}
#newsCarousel .carousel-image {
  margin: 0 auto;
}
#newsCarousel {
  margin: 24px auto;
  font-size: 2rem;
  font-weight: bold;
}
/* -----news carousel end----- */

/* -----news section start-----*/
.news-container {
  background-color: #f9f9f9;
  border: rgb(178, 178, 178) 0.3px solid;
  border-radius: 12px;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.news-container .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 16px !important;
  background-color: #f1f1f1;
  border: rgb(178, 178, 178) 0.9px solid;
}
.news-container .card-body {
  flex-grow: 1;
}
.news-container .custom-card-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* @media (min-width: 900px) and (max-width: 1200px) {
  .news-container .card-text {
    color: #eb1b1b;
    font-size: 12px;
  }
} */
.news-container .card-title {
  font-weight: bold;
}
.news-container .card-text {
  color: #1e1d1d;
  font-size: 14px;
}
.news-container .btn-primary {
  background-color: #629e74;
  border: none;
}
.news-container .btn-secondary {
  background-color: #629e74;
  border: none;
}
.news-container .modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.news-container .modal-body img {
  border-radius: 9px;
}
.news-container .modal-content {
  background-color: #fff;
  border-radius: 12;
  box-shadow: 2 2 2px rgba(0, 0, 0, 0.5);
}
.news-container .modal-header {
  border: none;
  color: #000000;
}
.modal-lg {
  max-width: 54%;
}
@media (max-width: 576px) {
  .modal-lg {
    max-width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .modal-lg {
    max-width: 70%;
  }
}

/* Cyrilic font at the card category start */
@font-face {
  font-family: "macedonian_helv";
  src: url("../assets/fonts/macedonian_helv.TTF") format("truetype");
}
.card-title-category_name {
  font-family: "macedonian_helv";
  font-weight: bolder;
}
/* Cyrilic font at the card category end */
/* <!-- news section end -----> */

/* categories start */
.categories-container .btn-primary {
  background-color: #629e74;
  /* border: none; */
}
.categories-container .btn-secondary {
  background-color: #629e74;
  /* border: none; */
}
.categories-container .modal-body img {
  border-radius: 9px;
}
.categories-container .card {
  background-color: #ffffff;
  border: rgb(178, 178, 178) 0.6px solid;
}
/* categories end */

/* -----media carousel start----- */
#mediaCarousel .carousel-item img {
  height: 72vh;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
@media (max-width: 719px) {
  #mediaCarousel .carousel-item img {
    height: 38vh;
  }
}
@media (max-width: 423px) {
  #mediaCarousel .carousel-item img {
    height: 27vh;
  }
}
#mediaCarousel .carousel-caption {
  background-color: rgba(3, 3, 3, 0.5);
  padding: 10px;
}
#mediaCarousel .carousel-caption h5 {
  color: white;
  font-size: 27px;
  margin: 0;
}
@media (max-width: 423px) {
  #mediaCarousel .carousel-caption h5 {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (min-width: 424px) and (max-width: 719px) {
  #mediaCarousel .carousel-caption h5 {
    font-size: 22px;
  }
}
#mediaCarousel .carousel-image {
  margin: 0 auto;
}
#mediaCarousel {
  margin: 24px auto;
  font-size: 2rem;
  font-weight: bold;
}
/* -----media carousel end----- */

footer {
  background-color: #333;
  color: #fff;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-top {
  background-color: #343a40;
}
.footer-bottom {
  background-color: #262829;
}
.footer-bottom a {
  color: #217b3a;
  font-size: larger;
  text-decoration: none;
}
